body {
    font-size: x-large;
    width: 30%;
    flex-direction: row;
    padding-left: 30px;   
}

input {
    font-size: large;
    width: 250px;
    height: 40px;
}

p {
    color: red;
}

.title {
    color: black;
}




